@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-off-white text-primary-navy font-sans min-h-screen flex flex-col;
  }
  
  h1, h2, h3, h4, .font-serif {
    font-family: 'Fraunces', Georgia, serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0E1626;
}

::-webkit-scrollbar-thumb {
  background: #BB9457;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D3AD70;
}
